.fa {
  font-family: var(--fa-style-family, 'Font Awesome 6 Free');
  font-weight: var(--fa-style, 900);
}

.fa-regular,
.fa-solid {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa-2x {
  font-size: 2em;
}

.fa-xl {
  font-size: 1.5em;
  line-height: 0.04167em;
  vertical-align: -0.125em;
}

.fa-check:before {
  content: '\f00c';
}

.fa-circle-info:before {
  content: '\f05a';
}

.fa-clipboard:before {
  content: '\f328';
}

.fa-close:before {
  content: '\f00d';
}

.fa-gears:before {
  content: '\f085';
}

.fa-pen-to-square:before {
  content: '\f044';
}

.fa-warning:before {
  content: '\f071';
}

:host,
:root {
  --fa-font-regular: normal 400 1em/1 'Font Awesome 6 Free';
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../fonts/fa-regular-400.woff2) format('woff2');
}

.fa-regular {
  font-family: 'Font Awesome 6 Free';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(../fonts/fa-solid-900.woff2) format('woff2');
}

.fa-solid {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}
