.switchContainer {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchContainer button {
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* dark mode  */
.slider:before {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  height: 25px;
  width: 25px;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: #0d6efd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath style='fill:%23ffffff' d='M24 42q-7.5 0-12.75-5.25T6 24q0-7.5 5.25-12.75T24 6q.4 0 .85.025.45.025 1.15.075-1.8 1.6-2.8 3.95-1 2.35-1 4.95 0 4.5 3.15 7.65Q28.5 25.8 33 25.8q2.6 0 4.95-.925T41.9 22.3q.05.6.075.975Q42 23.65 42 24q0 7.5-5.25 12.75T24 42Zm0-3q5.45 0 9.5-3.375t5.05-7.925q-1.25.55-2.675.825Q34.45 28.8 33 28.8q-5.75 0-9.775-4.025T19.2 15q0-1.2.25-2.575.25-1.375.9-3.125-4.9 1.35-8.125 5.475Q9 18.9 9 24q0 6.25 4.375 10.625T24 39Zm-.2-14.85Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
  content: '';
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

/* light mode  */
input:checked + .slider:before {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  height: 25px;
  width: 25px;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  color: white;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath style='fill:%23ffffff' d='M24 30q2.5 0 4.275-1.725Q30.05 26.55 30.05 24q0-2.5-1.75-4.275-1.75-1.775-4.3-1.775-2.5 0-4.25 1.75T18 24q0 2.5 1.725 4.25T24 30Zm0 4q-4.15 0-7.075-2.925T14 24q0-4.15 2.925-7.075T24 14q4.15 0 7.075 2.925T34 24q0 4.15-2.925 7.075T24 34ZM3.5 26q-.85 0-1.425-.575Q1.5 24.85 1.5 24q0-.85.575-1.425Q2.65 22 3.5 22h5q.85 0 1.425.575.575.575.575 1.425 0 .85-.575 1.425Q9.35 26 8.5 26Zm36 0q-.85 0-1.425-.575Q37.5 24.85 37.5 24q0-.85.575-1.425Q38.65 22 39.5 22h5q.85 0 1.425.575.575.575.575 1.425 0 .85-.575 1.425Q45.35 26 44.5 26ZM24 10.5q-.85 0-1.425-.575Q22 9.35 22 8.5v-5q0-.85.575-1.425Q23.15 1.5 24 1.5q.85 0 1.425.575Q26 2.65 26 3.5v5q0 .85-.575 1.425-.575.575-1.425.575Zm0 36q-.85 0-1.425-.575Q22 45.35 22 44.5v-5q0-.85.575-1.425Q23.15 37.5 24 37.5q.85 0 1.425.575Q26 38.65 26 39.5v5q0 .85-.575 1.425-.575.575-1.425.575ZM11.65 14.45l-2.85-2.8q-.6-.55-.575-1.4.025-.85.575-1.45.6-.6 1.4-.6.8 0 1.45.6l2.8 2.85q.55.6.55 1.4 0 .8-.55 1.35-.55.6-1.375.6t-1.425-.55Zm24.7 24.75-2.8-2.85q-.55-.6-.55-1.4 0-.8.55-1.4.55-.6 1.375-.6t1.425.6l2.85 2.8q.6.55.575 1.4-.025.85-.575 1.45-.6.6-1.4.6-.8 0-1.45-.6Zm-2.8-24.75q-.6-.55-.6-1.375t.6-1.425l2.8-2.85q.55-.6 1.4-.575.85.025 1.45.575.6.6.6 1.4 0 .8-.6 1.45l-2.85 2.8q-.55.55-1.375.55t-1.425-.55ZM8.8 39.2q-.6-.6-.6-1.4 0-.8.6-1.45l2.85-2.8q.6-.6 1.375-.6t1.375.6q.65.55.65 1.375t-.6 1.425l-2.8 2.85q-.55.6-1.4.575-.85-.025-1.45-.575ZM24 24Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
  content: '';
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}
