/* body { 
  font-family: 'SquarionLight';
} */

@font-face {
  font-family: 'SquarionSemiBold';
  src: url('./../fonts/SquarionSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#settingsMenuButton:focus {
  box-shadow: none;
}
