@font-face {
  font-family: 'SquareGroteskBlack';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/51490394ff0473456944598971ab671f/SquareGroteskBlack.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskBlackItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/27cbb84d328cdec400f62e0a159e11ce/SquareGroteskBlackItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskBold';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/b2ea2f901e3f931a5386de003c1c145d/SquareGroteskBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskBoldItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/2864d33f991e2e7c19be0173fd01f2ab/SquareGroteskBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskExtraBold';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/446b6fd71bfd28e78a30e3b3fa7ee831/SquareGroteskExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskExtraBoldItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/23cdb4f031340cc104b6acb41e2f41d2/SquareGroteskExtraBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskExtraLight';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a0731bafc93056356aa93b3b0d52d6a1/SquareGroteskExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskExtraLightItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/f236e64bd872ac40c92f1185bf961837/SquareGroteskExtraLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskLight';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/212844ed1beac67a6c5fac04de927f29/SquareGroteskLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskLightItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a529900ba0d7b8b71e848217a2d4ceec/SquareGroteskLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskMedium';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/ba705c52e84a8b7353cbf1f3940d6616/SquareGroteskMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskMediumItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a4177bfda3e942089dc5e5c6cc7a9507/SquareGroteskMediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskRegular';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a0884b4da5423ec1dc938272f4aaf30b/SquareGroteskRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskRegularItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/b8d2f1fd59fb3778f9bfe872f6abae02/SquareGroteskRegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskSemiBold';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/50538aa364dd79c9b100ac8b903e95f4/SquareGroteskSemiBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskSemiBoldItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/93a0454962e7feea224246838bae0c33/SquareGroteskSemiBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SquareGroteskThin';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/eb4123ce0967bc6546a10b970e047008/SquareGroteskThin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquareGroteskThinItalic';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/d14fd9e9d58fc0fc25e4e6303f8dc0c4/SquareGroteskThinItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionBlack';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/d29e5f934a8f556e85ce2921d557ab19/SquarionBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionBlackItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/60cab423a462cb5544f3518b599cac58/SquarionBlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionBold';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/50b84b3b3693860edd5ce28bbf808d46/SquarionBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionBoldItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/69d65f67fdd17304b8846e564d84d767/SquarionBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionExtraBold';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/763ceab31d348ec11598c7f61842fb7c/SquarionExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionExtraBoldItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/495a05b31d5a07bb4fe79c48b5892f47/SquarionExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionExtraLight';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/20a1c7d2646ab7139f0876808b9144cb/SquarionExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionExtraLightItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/9c0fd397338f0302183f510fa2d7437e/SquarionExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/aee6dff9d30708537606087b2ce5c2b9/SquarionItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionLight';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/b7b4dc361f2b6bdbd1c5acf9b1f772f3/SquarionLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionLightItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/2413ff2011127a959455ce7200aea63f/SquarionLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionMedium';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/d3c3d12e0c04ecdc67e536a3383fb4da/SquarionMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionMediumItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/d745e3aa4521c18337894a6c8e708256/SquarionMediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionRegular';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/6e1cdaa41b457b28015c9e2ef1f1ecf6/SquarionRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionSemiBold';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/fdb418495a25d9df0bc487b1f3d2bbc7/SquarionSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionSemiBoldItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/76ba8f39228db76bfb743fbc4adb2721/SquarionSemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SquarionThin';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/eea1ad14f2cd30eb8c68edf56952d92d/SquarionThin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SquarionThinItalic';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/db9ba91e8647148cd3ca0dfd4ef430a5/SquarionThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* The following rules are deprecated. */

@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/51490394ff0473456944598971ab671f/SquareGroteskBlack.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/27cbb84d328cdec400f62e0a159e11ce/SquareGroteskBlackItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/b2ea2f901e3f931a5386de003c1c145d/SquareGroteskBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/2864d33f991e2e7c19be0173fd01f2ab/SquareGroteskBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/446b6fd71bfd28e78a30e3b3fa7ee831/SquareGroteskExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/23cdb4f031340cc104b6acb41e2f41d2/SquareGroteskExtraBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a0731bafc93056356aa93b3b0d52d6a1/SquareGroteskExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/f236e64bd872ac40c92f1185bf961837/SquareGroteskExtraLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/212844ed1beac67a6c5fac04de927f29/SquareGroteskLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a529900ba0d7b8b71e848217a2d4ceec/SquareGroteskLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/ba705c52e84a8b7353cbf1f3940d6616/SquareGroteskMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a4177bfda3e942089dc5e5c6cc7a9507/SquareGroteskMediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/a0884b4da5423ec1dc938272f4aaf30b/SquareGroteskRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/b8d2f1fd59fb3778f9bfe872f6abae02/SquareGroteskRegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/50538aa364dd79c9b100ac8b903e95f4/SquareGroteskSemiBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/93a0454962e7feea224246838bae0c33/SquareGroteskSemiBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/eb4123ce0967bc6546a10b970e047008/SquareGroteskThin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Square Grotesk';
  src: url('/assets/fonts/square-grotesk/a36ed5d7b1d7bd765221b24b47c21787/d14fd9e9d58fc0fc25e4e6303f8dc0c4/SquareGroteskThinItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/d29e5f934a8f556e85ce2921d557ab19/SquarionBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/60cab423a462cb5544f3518b599cac58/SquarionBlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/50b84b3b3693860edd5ce28bbf808d46/SquarionBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/69d65f67fdd17304b8846e564d84d767/SquarionBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/763ceab31d348ec11598c7f61842fb7c/SquarionExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/495a05b31d5a07bb4fe79c48b5892f47/SquarionExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/20a1c7d2646ab7139f0876808b9144cb/SquarionExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/9c0fd397338f0302183f510fa2d7437e/SquarionExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/aee6dff9d30708537606087b2ce5c2b9/SquarionItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/b7b4dc361f2b6bdbd1c5acf9b1f772f3/SquarionLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/2413ff2011127a959455ce7200aea63f/SquarionLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/d3c3d12e0c04ecdc67e536a3383fb4da/SquarionMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/d745e3aa4521c18337894a6c8e708256/SquarionMediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/6e1cdaa41b457b28015c9e2ef1f1ecf6/SquarionRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/fdb418495a25d9df0bc487b1f3d2bbc7/SquarionSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/76ba8f39228db76bfb743fbc4adb2721/SquarionSemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/eea1ad14f2cd30eb8c68edf56952d92d/SquarionThin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Squarion';
  src: url('/assets/fonts/square-grotesk/796d9d50ea4ff83b436a19fdc5632d4b/db9ba91e8647148cd3ca0dfd4ef430a5/SquarionThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}