@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mr-container-padding {
    @apply px-[2%] sm:px-[5%] lg:px-[10%] xl:px-[20%] 2xl:px-[30%];
  }

  /* from: .table :where(thead, tfoot) :where(th, td);  */
  .mr-itemCount {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  /* 
.input {
  @apply focus:outline-none focus:border-2;
} */
}
