.notification-item {
  animation: SlideIn 0.4s;
  animation-fill-mode: forwards;
}

@keyframes SlideIn {
  0% {
    margin-top: -5rem;
  }

  100% {
    margin-top: 0;
  }
}

.notification-item.exit {
  animation: SlideOut 0.4s;
  animation-fill-mode: forwards;
}

@keyframes SlideOut {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -5rem;
  }
}
